*{
     margin:0;
     padding: 0;
     box-sizing: border-box;
 }
@font-face {
	font-family: 'Pacifico-Regular';
	src: url('../Fonts/Pacifico-Regular.ttf');
}

body {
    height: 1500px;
}

.Container_Head {
    margin: -10px;
}
.header {
    background: #25B6EA;
    color: white;
    width: 104%;
    height: 100px;
    position: fixed;
    top: 0px;
}
.container {
    width: 90%;
    margin: auto;
}
.row {
    display: flex;
}
.logo {
    font-size: 40px;
    font-family: cursive;
}
.logo, .search {
	width: 33.33%;
}
.search {
    margin-top: 10px;
}

button[type="submit"] {
    background: #3393D1;
    border: none;
    padding: 9px 9px;
    border-radius: 3px;
    color: white;
}

input[type="search"] {
    padding: 8px;
    border: none;
    font-size: 17px;
    border-radius: 3px;
}
.menu {
    background: #3393D1;
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin: 21px 0px;
    font-size: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    padding: 10px 15px;
}

.main {
    margin-top: 126px;
}
img {
    width: 242px;
    height: 291px;
    object-fit: cover;
}

h5 {
    color: rosybrown;
    margin: 4px 13px;
    font-size: 15px;
}

h5.h5 {
    margin-left: -2px;
}

.a-h5 {
    color: #6b6969;
    font-size: 17px;
    float: left;
    width: 242px;
}

.a-h5:hover{
    color: black;
}

h4.price {
    color: black;
    float: left;
    margin: auto;
    padding-left: -5px;
}

.col-img {
    width: 33.33%;
    margin: 10px 0px;
}

.main-top .container {
    float: right;
    width: 70%;
    margin-right: 10px;
    margin-top: 10px;
}

.sidebar .container {
    float: left;
    width: 20%;
    margin-left: 2.5%;
    margin-top: 10px;
    background: #25B6EA;
    text-align: left;
    border-radius: 3px;
}

ul.sidebar-nav {
    display: grid;
    position: fixed;
}

.sidebar-nav a {
    color: black;
    font-size: 22px;
}
.sidebar-brand a {
    font-weight: bold;
    font-size: 25px;
}
.sidebar-nav li {
    line-height: 8px;
}

footer.bg-dark.text-center.text-white {
    position: absolute;
    bottom: -1500px;
    width: 104%;
    height: 150px;
    line-height: 0px;
}



/*CSS trang chi tiết*/

.row_ct {
    display: flex;
    /*position: relative;*/
    margin-top: 150px;
}
/*.col_ct {
    width: 50%;
    margin: 10px 0px;
}*/
.img_ct {
    width: 70%;
}
.p_detail {
    width: 70%;
    margin-top: 11px;
}
img.col_img_1 {
    display: block;
    width: 500px;
    height: 530px;
    margin: auto;
}
img.col_img {
    width: 164px;
    height: 165px;
    padding: 0px -14px;
}
.col_ct h3 {
    color: black;
}
